Repository mfdlabs/grid-bot, changes with the owners that CODEOWNERS names for each.
All owners: @mfdlabs/who-owns-this-sector, @mfdlabs/badlion, @mfdlabs/grid, @mfdlabs/metrics, @mfdlabs/networking-owk, @mfdlabs/graphics, @mfdlabs-roblox/backend-systems, @mfdlabs/robotics, @mfdlabs/idiots, @mfdlabs/tech, @mfdlabs/web

GRIDBOT-14 (HATE_TASK_THREAD): Remove Enums
  Assemblies/MFDLabs.Concurrency/Enums/PacketProcessingStatus.cs
  Assemblies/MFDLabs.Concurrency/Enums/PluginResult.cs
Owners: @mfdlabs/robotics

GRIDBOT-14 (HATE_TASK_THREAD): Remove Models
  Assemblies/MFDLabs.Concurrency/Models/Packet.cs
Owners: @mfdlabs/robotics

GRIDBOT-14 (HATE_TASK_THREAD): Remove perf data
  Assemblies/MFDLabs.Concurrency/PerformanceMonitors/TaskThreadMonitor.cs
Owners: @mfdlabs/robotics

GRIDBOT-14 (HATE_TASK_THREAD): Remove Async Task Threads
  Assemblies/MFDLabs.Concurrency/Base/Async/AsyncBasePlugin.cs
  Assemblies/MFDLabs.Concurrency/Base/Async/AsyncBaseTask.cs
  Assemblies/MFDLabs.Concurrency/Base/Async/AsyncBaseTaskThread.cs
  Assemblies/MFDLabs.Concurrency/Base/Async/AsyncExpiringTaskThread.cs
Owners: @mfdlabs/robotics

GRIDBOT-14 (HATE_TASK_THREAD): Remove Unsafe Task Threads
  Assemblies/MFDLabs.Concurrency/Base/Unsafe/UnsafeBasePlugin.cs
  Assemblies/MFDLabs.Concurrency/Base/Unsafe/UnsafeBaseTaskThread.cs
  Assemblies/MFDLabs.Concurrency/Base/Unsafe/UnsafeExpiringTaskThread.cs
  Assemblies/MFDLabs.Concurrency/Base/Unsafe/UsafeBaseTask.cs
Owners: @mfdlabs/robotics

GRIDBOT-14 (HATE_TASK_THREAD): Remove base task threads
  Assemblies/MFDLabs.Concurrency/Base/BasePlugin.cs
  Assemblies/MFDLabs.Concurrency/Base/BaseTask.cs
  Assemblies/MFDLabs.Concurrency/Base/BaseTaskThread.cs
  Assemblies/MFDLabs.Concurrency/Base/ExpiringTaskThread.cs
Owners: @mfdlabs/robotics

GRIDBOT-13 (HATE_SINGLETON_BASE): Fix some logging stuff
  Assemblies/MFDLabs.Concurrency/MFDLabs.Concurrency.xml
  Assemblies/MFDLabs.EventLog/Base/LoggerBase.cs
  Assemblies/MFDLabs.EventLog/Interfaces/ILogger.cs
  Assemblies/MFDLabs.EventLog/Loggers/ExceptionThrottlingLogger.cs
  Assemblies/MFDLabs.EventLog/Loggers/NoOpLogger.cs
  Assemblies/MFDLabs.Logging/Implementation/EventLogConsoleSystemLogger.cs
  Assemblies/MFDLabs.Logging/Implementation/EventLogSystemLogger.cs
  Assemblies/MFDLabs.Logging/Implementation/SystemLogger.cs
Owners: @mfdlabs/robotics, @mfdlabs/badlion, @mfdlabs/who-owns-this-sector

GRIDBOT-15: Move all scripts to Scripts/ folder
  Scripts/Build.ps1
  Scripts/BuildAndDeploy.ps1
  Scripts/BuildConfigIntegration.ps1
  Scripts/BuildGridIntegration.ps1
  Scripts/DeleteObjBinFolders.ps1
  Scripts/Deploy.ps1
  Scripts/OnPostBuildInvoked.ps1
  Scripts/build-config-integration.bat
  Scripts/build-grid-integration.bat
  Scripts/clean.bat
Owners: none

GRIDBOT-15: Fix other issues
  Build.ps1
  BuildAndDeploy.ps1
  BuildConfigIntegration.ps1
  BuildGridIntegration.ps1
  DeleteObjBinFolders.ps1
  Deploy.ps1
  MFDLabs.Grid.Bot/MFDLabs.Grid.Bot.csproj
  MFDLabs.Grid.sln
  OnPostBuildInvoked.ps1
  build-config-integration.bat
  build-grid-integration.bat
  clean.bat
  deploy.bat
Owners: @mfdlabs/grid

GRIDBOT-15: Move all powershell and cmd scripts to a Scripts folder (#23)
  BuildConfigIntegration.ps1
  BuildGridIntegration.ps1
  MFDLabs.Grid.Bot/MFDLabs.Grid.Bot.csproj
  MFDLabs.Grid.sln
  Scripts/Build.ps1
  Scripts/BuildAndDeploy.ps1
  Scripts/BuildConfigIntegration.ps1
  Scripts/BuildGridIntegration.ps1
  Scripts/DeleteObjBinFolders.ps1
  Scripts/Deploy.ps1
  Scripts/OnPostBuildInvoked.ps1
  Scripts/build-config-integration.bat
  Scripts/build-grid-integration.bat
  Scripts/clean.bat
  clean.bat
  deploy.bat
Owners: @mfdlabs/grid

GRIDBOT-15: Fix a little issue with cleaning
  Scripts/clean.bat
Owners: none

GRIDBOT-15: Move all powershell and cmd scripts to a Scripts folder (#24)
  Scripts/clean.bat
Owners: none

GRIDBOT-17 (Discord Gateway Hang): Update OnPostBuildInvoked.ps1
  Scripts/OnPostBuildInvoked.ps1
Owners: none

GRIDBOT-17: Fix to change namespace from MFDLabs.Grid.Bot.Tasks.WorkQueues to MFDLabs.Grid.Bot.WorkQueues
  Shared/MFDLabs.GridCommands/Commands/ExecuteScript.cs
  Shared/MFDLabs.GridCommands/Commands/Render.cs
  Shared/MFDLabs.GridCommands/Commands/ViewConsole.cs
  Shared/MFDLabs.GridTasks/AssemblyInfo.cs
  Shared/MFDLabs.GridTasks/MFDLabs.GridTasks.csproj
  Shared/MFDLabs.GridTasks/WorkQueues/GridServerScreenshotWorkQueue.cs
  Shared/MFDLabs.GridTasks/WorkQueues/RenderingWorkQueue.cs
  Shared/MFDLabs.GridTasks/WorkQueues/ScriptExecutionWorkQueue.cs
  Shared/MFDLabs.GridTasks/WorkQueues/WorkQueueDispatcherQueueRegistry.cs
Owners: none

GRIDBOT-17: Fix to change namespace from MFDLabs.Grid.Bot.Tasks.WorkQueues to MFDLabs.Grid.Bot.WorkQueues (#25)
  Shared/MFDLabs.GridCommands/Commands/ExecuteScript.cs
  Shared/MFDLabs.GridCommands/Commands/Render.cs
  Shared/MFDLabs.GridCommands/Commands/ViewConsole.cs
  Shared/MFDLabs.GridTasks/AssemblyInfo.cs
  Shared/MFDLabs.GridTasks/MFDLabs.GridTasks.csproj
  Shared/MFDLabs.GridTasks/WorkQueues/GridServerScreenshotWorkQueue.cs
  Shared/MFDLabs.GridTasks/WorkQueues/RenderingWorkQueue.cs
  Shared/MFDLabs.GridTasks/WorkQueues/ScriptExecutionWorkQueue.cs
  Shared/MFDLabs.GridTasks/WorkQueues/WorkQueueDispatcherQueueRegistry.cs
Owners: none

GRIDBOT-18: Issue and PR templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

Update and rename bug_report.md to bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
Owners: none

GRIDBOT-19: Initial commit for (Cleanup usings everywhere)
  Shared/MFDLabs.GridCommands/Commands/Render.cs
  Shared/MFDLabs.GridCommands/Commands/ViewConsole.cs
  Shared/MFDLabs.GridTasks/WorkQueues/ScriptExecutionWorkQueue.cs
Owners: none

GRIDBOT-20 (Use MessageReference instead of ping): Drop all pings and move to message references, create a new issue if it gets wrong data
  Shared/MFDLabs.GridExtensions/Discord/IUserExtensions.cs
  Shared/MFDLabs.GridExtensions/Discord/SocketCommandBaseExtensions.cs
  Shared/MFDLabs.GridExtensions/Discord/SocketMessageExtensions.cs
  Shared/MFDLabs.GridUtility/AdminUtility.cs
Owners: none

GRIDBOT-20 (Use MessageReference instead of ping): (#27)
  Shared/MFDLabs.GridExtensions/Discord/IUserExtensions.cs
  Shared/MFDLabs.GridExtensions/Discord/SocketCommandBaseExtensions.cs
  Shared/MFDLabs.GridExtensions/Discord/SocketMessageExtensions.cs
  Shared/MFDLabs.GridUtility/AdminUtility.cs
Owners: none

GRIDBOT-17 and #28 (Fix discord gateway hang): Use a concurrent work queue to fix?
  Shared/MFDLabs.GridEvents/Events/OnMessage.cs
  Shared/MFDLabs.GridEvents/Events/OnSlashCommand.cs
  Shared/MFDLabs.GridEvents/MFDLabs.GridEvents.csproj
  Shared/MFDLabs.GridEvents/WorkQueues/OnMessageReceivedWorkQueue.cs
  Shared/MFDLabs.GridEvents/WorkQueues/OnSlashCommandReceivedWorkQueue.cs
Owners: none

GRIDBOT-17 and #28 (Fix discord gateway hang): Disable generation of Symbols on production so we can merge into master
  MFDLabs.Grid.Bot/MFDLabs.Grid.Bot.csproj
Owners: @mfdlabs/grid

GRIDBOT-17 and #28 (Fix discord gateway hang): Fix an issue where slash commands would not respond on this branch
  MFDLabs.Grid.Bot/MFDLabs.Grid.Bot.csproj
Owners: @mfdlabs/grid

GRIDBOT-17 and #28 (Fix discord gateway hang): Final staging, remove DEBUG_LOGGING_PROD
  Assemblies/MFDLabs.Discord.Configuration/MFDLabs.Discord.Configuration.csproj
  Assemblies/MFDLabs.Grid.Arbiter/MFDLabs.Grid.Arbiter.csproj
  MFDLabs.Grid.Bot/MFDLabs.Grid.Bot.csproj
  Shared/MFDLabs.GridDiagnostics/MFDLabs.GridDiagnostics.csproj
  Shared/MFDLabs.GridEvents/MFDLabs.GridEvents.csproj
  Shared/MFDLabs.GridTasks/MFDLabs.GridTasks.csproj
Owners: @mfdlabs/grid

CODEOWNERS:

# "Who Owns This Sector?"
MFDLABS-WOTS-ASSEMBLIES.pfx @mfdlabs/who-owns-this-sector
Assemblies/MFDLabs.Threading/ @mfdlabs/who-owns-this-sector
Assemblies/MFDLabs.Text/ @mfdlabs/who-owns-this-sector
Assemblies/MFDLabs.Reflection/ @mfdlabs/who-owns-this-sector
Assemblies/MFDLabs.Pipeline/ @mfdlabs/who-owns-this-sector
Assemblies/MFDLabs.Logging/ @mfdlabs/who-owns-this-sector

# "BadLion"
MFDLABS-BADLION-ASSEMBLIES.pfx @mfdlabs/badlion
Assemblies/MFDLabs.EventLog/ @mfdlabs/badlion

# "Grid"
MFDLABS-GRID-ASSEMBLIES.pfx @mfdlabs/grid
Extensions/MFDLabs.Grid.Screenshot.Relay/ @mfdlabs/grid
Extensions/MFDLabs.Grid.Deployer/ @mfdlabs/grid
Assemblies/MFDLabs.Grid.ComputeCloud/ @mfdlabs/grid
Assemblies/MFDLabs.Grid.Commands/ @mfdlabs/grid
# Says "Internal Tech" on the CODEOWNERS registry, but it's actually by the grid team.
MFDLabs.Grid.Bot/ @mfdlabs/grid 

# "Metrics"
MFDLABS-METRICS-ASSEMBLIES.pfx @mfdlabs/metrics
Assemblies/MFDLabs.Tracing.Core/ @mfdlabs/metrics
Assemblies/MFDLabs.Instrumentation/ @mfdlabs/metrics

# "Networking"
MFDLABS-NET-TEAM-ASSEMBLIES.pfx @mfdlabs/networking-owk
Assemblies/MFDLabs.Networking @mfdlabs/networking-owk

# "Graphics"
MFDLABS-RENDERING-ASSEMBLIES.pfx @mfdlabs/graphics
Assemblies/MFDLabs.Drawing/ @mfdlabs/graphics

# "Roblox"
# https://codeowners.git.mfdlabs.local/ui/@mfdlabs-roblox/backend-systems
MFDLABS-ROBLOX-ASSEMBLIES.pfx @mfdlabs-roblox/backend-systems
Assemblies/MFDLabs.Users.Client/ @mfdlabs-roblox/backend-systems
Assemblies/MFDLabs.RequestContext/ @mfdlabs-roblox/backend-systems

# "Robotics"
MFDLABS-ROBOTICS-ASSEMBLIES.pfx @mfdlabs/robotics
Assemblies/MFDLabs.Concurrency/ @mfdlabs/robotics
Assemblies/MFDLabs.Sentinels/ @mfdlabs/robotics

# "Idiots"
MFDLABS-STUFFS-ASSEMBLIES.pfx @mfdlabs/idiots
Assemblies/MFDLabs.ErrorHandling/ @mfdlabs/idiots

# "Tech"
MFDLABS-TECH-TEAM-ASSEMBLIES.pfx @mfdlabs/tech
Assemblies/MFDLabs.Diagnostics/ @mfdlabs/tech

# "Web"
MFDLABS-WEB-ASSEMBLIES.pfx @mfdlabs/web
Assemblies/MFDLabs.Http.ServiceClient/ @mfdlabs/web
Assemblies/MFDLabs.Http.Client.Monitoring/ @mfdlabs/web
Assemblies/MFDLabs.Http.Client/ @mfdlabs/web
Assemblies/MFDLabs.Http/ @mfdlabs/web
